<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/default.xml" />
	<springProperty scope="context" name="appname"
		source="spring.application.name" />
	<!-- 日志文件存放目录（环境变量） -->
	<property name="logdir" value="logs" />
	<!--web信息 -->
	<logger name="org.springframework.web" level="info" />

	<!--写入日志到控制台的appender,用默认的,但是要去掉charset,否则windows下tomcat下乱码 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!--写入日志到文件的appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名,每天一个文件 -->
			<FileNamePattern>${logdir}/${appname}.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--日志文件保留天数 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</encoder>
		<!--日志文件最大的大小 -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<springProfile name="dev">
		<!--开发环境:打印控制台 -->
		<root level="info">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="sit,prod">
		<root level="info">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
</configuration>
